/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/analytics-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/aais/*
organizations/fabric-ca/carrier/*
organizations/fabric-ca/analytics/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
/bin
*.mod
*.sum
/vendor/*
.DS_Store
/openidl