.page-header {
  font-family: 'IBM Plex Sans SemiBold';
  font-size: 18px;
  color: #152935;
  line-height: 16.1px;
  text-align: left;
  border-bottom: none;
}

.reporturlText {
  display: inline-block;
  float: left;
}

.text-heading {
  font-family: 'IBM Plex Sans SemiBold';
  font-size: 11.2px;
  color: #152935;
  letter-spacing: 0;
  line-height: 14.4px;
  text-align: left;
}

.input-style-table {
  background: rgba(61, 112, 178, 0.10);
  /* width: 629px; */
  width:100%;
  height: 35px;
  display: block;
  padding: 0 1rem;
  border: none;
  order: 2;
  font-family: 'IBM Plex Sans';
  font-size: 11.2px;
  color: #5a6872;
  line-height: 14.4px;
  text-align: left;
}

.input-style-table.reporthash {
  /* width: 326px; */
  width:100%;
  height: 35px;
}

.input-style-table.status {
  width: 288px;
  height: 32px;
}

.btn-primary.update {
  margin: 21px !important;
  /* padding: 10px 32px !important; */
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

.fourth-container {
  background: #ffffff;
  width: 100%;
  /* min-height: 893px; */
  top: 2%;
  padding: 28px;
  padding-left: 5%;
}

.reportHashText {
  display: inline-block;
  float: left;
  padding-left: 2%;
}

.statusText {
  display: inline-block;
  float: left;
}
