.notify-container {
  margin: 10px;
  padding: 10px 25px;
  display: block;
  float: left;
  background-color: #fff;
  position: relative;
  width:100%;
  font-size:14px;
}
.notify-container .close-btn {
  position: absolute;
  right: 8px;
  top: 38%;
  cursor: pointer;
  font-size: 14px;
  color: #5A6872;
}
.notify-container .title {
  font-weight: bold;
  padding-right:10px;
  font-size: 12px;
}
.notify-container .message {
  padding:0 10px 0 0;
  font-size: 12px;
}
.notify-container.error {
  border:1px solid red;
  border-left-width:5px;
}
.notify-container.success {
  border:1px solid green;
  border-left-width:5px;
}
.notify-container.warning {
  border:1px solid goldenrod;
  border-left-width:5px;
}
