**/.DS_Store
openidl-mapper/referenceJson.json
openidl-mapper/referenceJson2.json
**/node_modules
openidl-mapper/schema/Hack_openIDL_Tier3.json
openidl-secrets-manager/config/*.json
hosts-input.txt
hosts-update.txt
hosts-updated.txt
openidl-common-ui/dist/
**/vendor
systemup.log
openidl-ui/server/config/local-appid-config.json
openidl-common-ui/package-lock.json
openidl-ui/package-lock.json
openidl-carrier-ui/package-lock.json
openidl-ui/.env
openidl-ui-workspace/package-lock.json
openidl-ui-workspace/projects/openidl-carrier-ui/server/config/local-appid-config.json
openidl-ui-workspace/projects/openidl-ui/server/config/local-appid-config.json
**/*for testing*.*
