header {
  padding:20px 0px;
  height:83px;
  border-bottom: 3px solid #005698;
  display:block;
  background-color: #fff;
}
header img {
  display:inline-block;
  padding: 0 10px;
  max-width: 100%;
  height:40px;
}
header .divider {
  border-left: 2px solid #005698;
    height: 30px;
    vertical-align: top;
    width: 1px;
    display: inline-block;
    margin-top: 10px;
}
header ul {
  display: inline-block;
  padding: 20px 0;
  list-style-type: none;
}
header ul li {
  display: inline-block;
    padding: 0 20px;
}
header ul li a {
  font-size: 14px;
    text-transform: capitalize;
    font-family: 'IBM Plex Sans Bold';
    text-decoration: none;
    height: 35px;
    display: block;
    padding-top: 10px;
}
header ul li.active {
  border-bottom:5px solid #005698;
}
.nav-container {
  float: right;
  padding:0 20px;
  vertical-align: middle;
}

.logout-link {
  font-size: 14px;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans Bold';
  border-left:2px solid #005698;
  padding:0 15px;
}

.reset-btn {
  display:inline-block;
  color:#bbb;
  font-size: 14px;
  cursor: pointer;
}
.reset-container {
  z-index: 100;
  padding: 20px 10px;
  min-width: 120px;
  position: absolute;
  display: block;
  left: -120px;
  background: #fff;
  top: 50px;
  font-size: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(120,120,120,0.5);
}
.reset-container:after {
  content: '';
    background-color: transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(135deg);
    top: -17px;
    right: -13px;
}
.reset-container:before {
  content: '';
  background-color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  border-bottom: 20px solid #ccc;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -17px;
  right: -14px;
}

.del-btn {
  background-color:#fff;
  color:#D0021B;
  border:2px solid #D0021B;
  padding:8px;
  text-align: center;
  font-weight: bold;
}
