<header class="col-sm-12">
  <div class="col-sm-7">
    <img src="../../assets/images/openidl-header-logo.png" (click)='goHome()' style='cursor:pointer;'>
    <span class='divider'></span>
    <img [src]='orgLogo'/>
  </div>
  <div class="col-sm-5">
    <div class="nav-container">
        <ul>
            <li [ngClass]="{'active':selected === 0}" (click)='setSelected(0)'><a href='javascript:void(0)' [routerLink]="['/datacallList']">Data Calls</a></li>
            <li [ngClass]="{'active':selected === 1}" (click)='setSelected(1)' *ngIf='appConst.shouldCreateDatacall'><a href='javascript:void(0)' [routerLink]="['/createDatacall']">New Data Call</a></li>
          </ul>
          <a class='logout-link' href='javascript:void(0)' (click)='logout()'>Log out</a>
          <!-- <div *ngIf='isResetWorldState' class='glyphicon glyphicon-option-vertical reset-btn' (click)='toggleResetBtn()'>
            <div *ngIf='isResetBtn' class='reset-container'>
              <button class='del-btn' (click)='resetData()'>Delete All Data</button>
            </div>
          </div> -->
    </div>
  </div>
  </header>
  <app-spinner *ngIf='isSpinner'></app-spinner>
