@import '../../styles/variables';

.main-div {
	background-image: url('../../assets/images/LandingBG.png');
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;

	.login-card {
		width: 450px;
		min-height: 500px;

		.header {
			height: 128px;
			.image {
				margin: auto;
				width: 50%;
				padding: 10px;
			}
		}

		.content {
			padding: 0 2rem;

			.heading {
				font-size: 24px;
				color: #152935;
				line-height: 45px;
				text-align: left;
			}

			.row {
				display: flex;
				flex-direction: row;
			}

			.col {
				flex: 1;
				margin-right: 20px;
			}

			.full-width {
				width: 100%;
			}
			.login-button {
				width: 10rem;
				height: 3rem;
			}
		}
	}
}
