.back-link {
  color: #3d70b2;
  text-decoration: underline;
  text-transform: capitalize;
  font-family: 'IBM Plex Sans';
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
}
