.form {
	padding-bottom: 3rem;

	.data-form {
		width: 80%;
		margin: 0 auto;
		padding-top: 3rem;
		.full-width {
			width: 100%;
		}
		.row {
			display: flex;
			flex-direction: row;
		}

		.col {
			flex: 1;
			margin-right: 10rem;
		}

		.col:last-child {
			margin-right: 0;
		}

		.button-row {
			text-align: end;
			margin: 1rem 0;
			button {
				width: 9rem;
				margin: 0 1rem;
			}
			button:last-child {
				margin-right: 0;
			}
		}
	}
}
