/* .row.content {
  height: 100%;
} */


/* Set gray background color and 100% height */

.sidenav {
  padding-top: 20px;
  background-color: #F4F7FC;
  height: 100%;
}

.form-container>div {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* On small screens, set height to 'auto' for sidenav and grid */


/* @media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {
    height: 100%;
}
} */

.page-heading {
  font-family: 'IBM Plex Sans SemiBold';
  font-size: 18px;
  color: #152935;
  line-height: 16.1px;
  text-align: left;
}

.content-style {
  padding: 5%;
}

.input-label {
  font-family: 'IBM Plex Sans SemiBold';
  font-size: 14.2px;
  color: #152935;
  letter-spacing: 0;
  line-height: 14.4px;
  text-align: left;
  font-weight: unset;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0.5rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.input-style {
  font-family: 'IBM Plex Sans Medium';
  font-size: 1.1rem;
  display: block;
  width: 100%;
  height: 3.9rem;
  /* min-width: 18.75rem; */
  padding: 0 1rem;
  color: #152935;
  background-color: #f4f7fb;
  border: none;
  /* order: 2; */
}

.input-style.input-style-textarea {
  height: 100% !important;
  padding:10px;
}

textarea {
  resize: none;
}

.input-label.input-label-bold {
  font-family: 'IBM Plex Sans Bold';
  color: #5a6872;
}

.form-container .form-item {
  padding: 20px 0;
}
.form-container .form-item.form-date-item {
  padding:5px 0 20px !important;
}
.toggle-area {
  display: inline-block;
}

.calendar-icon {
  width: 15%;
  margin: 17% 5% 0;
}
.abs-calendar-icon {
  display: inline-block;
  position: absolute;
  width: 15%;
  top: 40%;
  right: 5%;
}
