<app-header></app-header>
<div class="col-sm-10 col-sm-offset-1 no-row-padding" *ngIf='isBack'>
    <button class='back-link' (click)='goBack()' style='padding:0;'> << Back to Data Calls</button>
</div>
<div class="col-sm-10 col-sm-offset-1" *ngIf='!isBack'>
    <a class='back-link' [routerLink]='["/datacallList"]'>Data Calls</a> &nbsp; / &nbsp;
    <a class='back-link' [routerLink]='["/viewIssued"]'>Data call details</a> &nbsp; / &nbsp;
    <a class='back-link' style='text-decoration: none;' href='javascript:(void);'>Data call drafts</a>
</div>
<app-update-form (fail)='goBack()'></app-update-form>