<mat-toolbar class="header">
	<span
		><img
			src="../../assets/images/openidl-header-logo.png"
			(click)="goHome()"
			class="logo"
			alt="Open IDL Logo" />
		<span class="divider"></span>
		<img [src]="orgLogo"
	/></span>
	<span class="spacer"></span>
	<mat-nav-list class="list-horizontal">
		<a
			mat-list-item
			[ngClass]="{ active: selected === 0 }"
			href="javascript:void(0)"
			(click)="navigateToRoute('/datacallList'); selected = 0"
			>Data Calls</a
		>
		<a
			mat-list-item
			[ngClass]="{ active: selected === 1 }"
			*ngIf="appConst.shouldCreateDatacall"
			(click)="navigateToRoute('/createDatacall'); selected = 1"
			>New Data Call</a
		>
		<div class="divider small"></div>
	</mat-nav-list>
	<a
		mat-button
		href="javascript:void(0)"
		(click)="checkLogout()"
		color="primary"
	>
		<mat-icon>logout</mat-icon>
		Log Out</a
	>
	<button
		mat-button
		[matMenuTriggerFor]="menu"
		*ngIf="isResetWorldState && role === 'statagent'"
	>
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item *ngIf="isResetBtn" (click)="conirmReset()">
			Delete All Data
		</button>
	</mat-menu>
</mat-toolbar>
