{{- if .Values.global.etl.install }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nifi-ingress
  namespace: nifi
spec:
  tls:
  - hosts:
    - aais.us-south.containers.appdomain.cloud
    secretName: aais
  rules:
  - host: aais.us-south.containers.appdomain.cloud
    http:
      paths:
      - path: /nifi
        backend:
          serviceName: nifi-http
          servicePort: 8080
{{- end }}