<header class="col-sm-12">
<div class="col-sm-7">
  <img src="../../../assets/images/openidl-header-logo.png">
  <span class='divider'></span>
  <img src="../../../assets/images/reg1-header-logo.png">
</div>
<div class="col-sm-5">
  <div class="nav-container">
      <ul>
          <li><a href='javascript:void(0)'>Data Calls</a></li>
          <li class='active'><a href='javascript:void(0)'>New Data Call</a></li>
        </ul>
        <a class='logout-link' href='javascript:void(0)'>Log out</a>
  </div>
</div>
</header>
