.main-div {
  background-image: url('../../assets/images/LandingBG.png');
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  width: 450px;
  min-height: 540px;
  display:block;
  margin-top:12%;
  margin-left:16%;
}

.card-header {
  background: #ffffff;
  height: 128px;
}

.text-heading {
  font-family: 'IBM Plex Sans Medium';
  font-size: 24px;
  color: #152935;
  line-height: 45px;
  text-align: left;
}

.card-content {
  padding: 50px;
}

.input-label-user {
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
  color: #152935;
}

.input-label-pass {
  color: #4979b8;
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
}

.img-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.img-div>img {
  margin-top: 20px;
}

input[type="text"],
select.form-control {
  border-radius: 0;
  border-bottom: 1.5px solid #888;
  height: 40px;
}

input[type="password"],
select.form-control {
  border-radius: 0;
  border-bottom: 1.5px solid #4979b8;
  height: 40px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 10px;
}

.span-style {
  color: #4979b8;
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
  text-decoration: underline;
}

.btn-login {
  background-color: #4979b8;
  border-radius: 0;
  padding: 10px;
  width: 150px;
  font-family: 'IBM Plex Sans Medium';
  text-transform:uppercase
}

.btn-center {
  width: 100%;
  margin-top: 20%;
}

.btn-center>button {
  margin: 0 auto;
  display: block;
}



@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-css {
  display:inline-block;
}
.lds-rolling {
  position: relative;
  width:40px;
  height:40px;
  display:inline-block;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  /* top: 100px;
  left: 100px; */
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 20px !important;
  height: 20px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
