charts/openidl-secrets/config-aais/**
charts/openidl-secrets/config-carrier/**
charts/openidl-secrets/config-analytics/**
charts/openidl-secrets/config-aais-dev/**
charts/openidl-secrets/config-carrier-dev/**
charts/openidl-secrets/config-analytics-dev/**