html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background: #fafafa;
}

.center {
	text-align: center;
}

.header-with-icon {
	.mat-icon {
		font-size: 2rem;
	}
	span {
		position: absolute;
		// margin-top: 1px;
		margin-left: 1rem;
		font-weight: 500;
	}
}

.container {
	width: 80%;
	margin: 0 auto;
}
