
ul {
  display:block;
  list-style: none;
}
ul>li {
  display:inline-block;
  /* max-width:200px; */
  word-break: break-all;
  height:auto;
  padding:10px;
  border: 1px solid #3d70b2;
  position:relative;
  margin:8px 30px 8px 0;;
  font-size: 11px;
  background-color:#fff;
}
ul>li:after {
  content: '';
  width: 30px;
  height: 1px;
  background-color: #3d70b2;
  right: -31px;
  top: 20px;
  position: absolute;
}
ul>li:last-child:after {
  width:0;
  height:0;
  content:'';
}
