table.table thead {
    background-color: #f5f7fa;
    border: 1px solid #dfe3e6;
}

table.table thead th,
table.table thead th a {
    color: #152935 !important;
    font-family: 'IBM Plex Sans SemiBold';
    text-align: left;
    font-size: 12px;
}

table.table tbody tr {
    background-color: #fff;
    border: 1px solid #dfe3e6;
}

table.table tbody tr:hover {
    background: rgba(85, 150, 230, 0.10);
    border: 1px solid #5596e6;
    cursor: pointer;
}

table.table tbody tr td {
    color: #152935;
    font-size: 12px;
    text-align: left;
    font-family: 'IBM Plex Sans';
    padding: 10px;
}

table.table tbody tr td.report-status {
    color: #152935;
    text-transform: capitalize;
}

table.table tbody tr td.report-status.activeLink {
    text-decoration: underline;
    cursor: pointer !important;
    color:#2d74da;
}

.pageBlock {
    position: relative;
    display: inline-block;
    width: 30px;
    min-height: 20px;
    margin: 2px;
    cursor: pointer;
}

.pageBlock:hover {
    background-color: #3d70b2;
    color: white;
}

.pageView {
    height: auto;
    text-align: center;
    float: right;
}

.activePage {
    background: #3d70b2 ! important;
    color: white ! important;
}

.disableBtn {
    color: gray ! important;
    pointer-events: none;
}
.sort-arrows {
  vertical-align: middle;
    position: relative;
    display: inline-block;
}
.sort-arrows>.glyphicon-triangle-top {
  position: absolute;
  color: #bbb !important;
  top:-8px !important;
}
.sort-arrows>.glyphicon-triangle-bottom {
  position: absolute;
  color:#bbb !important;
  top: -1px !important;
  bottom:0;
}
