<table
	datatable
	class="row-border hover"
	[dtOptions]="dtOptions"
	[dtTrigger]="dtTrigger"
	*ngIf="!isSpinner"
>
	<thead>
		<tr>
			<th style="width: 15%">Name</th>
			<th style="width: 10%">Deadline</th>
			<th style="width: 10%">Jurisdiction</th>
			<th style="width: 8%">Line of Business</th>
			<th style="width: 10%; text-align: right; padding-right: 25px">
				Version No.
			</th>
			<!-- <th *ngIf='status === "DRAFT"' style="width: 10%;text-align:right">
                <mfDefaultSorter by="draftVersions">No. of Drafts</mfDefaultSorter>
            </th> -->
			<th
				*ngIf="status === statusObj.DRAFT"
				style="width: 10%; text-align: right; padding-right: 60px"
			>
				Likes
			</th>
			<th
				*ngIf="status === statusObj.ISSUED"
				style="width: 10%; text-align: right; padding-right: 50px"
			>
				Consents
			</th>
			<th *ngIf="status === statusObj.ISSUED" style="width: 10%">
				Report Status
			</th>
			<th
				style="width: 12%; padding-left: 20px"
				[ngStyle]="{
					'padding-left':
						status === statusObj.CANCELLED ? '5%' : '20px'
				}"
			>
				Updated Date
			</th>
		</tr>
	</thead>
	<tbody *ngIf="isRecord">
		<tr *ngFor="let row of data" (click)="viewDraft(data)">
			<td>{{ row.name }}</td>
			<td>{{ row.deadline | date: 'MM/dd/yyyy' }}</td>
			<td>{{ row.jurisdiction }}</td>
			<td>{{ row.lineOfBusiness }}</td>
			<td style="text-align: right">{{ row.version }}</td>
			<!-- <td *ngIf='status === "DRAFT"' style='text-align:right'>{{row.draftVersions}}</td> -->
			<td
				*ngIf="status === statusObj.DRAFT"
				style="text-align: right; padding-right: 48px"
			>
				{{ row.noOfLikes }}
			</td>
			<td
				*ngIf="status === statusObj.ISSUED"
				style="text-align: right; padding-right: 35px"
			>
				{{ row.noOfConsents }}
			</td>
			<td
				*ngIf="status === statusObj.ISSUED"
				class="report-status"
				(click)="
					viewReport($event, row, row.reportStatus, row.reportUrl)
				"
				[ngClass]="{
					activeLink:
						row.reportStatus &&
						!(row.reportStatus.toLowerCase() === 'awaiting')
				}"
				style="cursor: default"
			>
				<!-- &&((!(this.role === 'carrier' && (row.reportStatus.toLowerCase() === 'candidate' || row.reportStatus.toLowerCase() === 'awaiting' || row.reportStatus.toLowerCase() === 'accepted')))) -->
				{{ row.reportStatus }}
			</td>
			<td
				style="padding-left: 20px"
				[ngStyle]="{
					'padding-left':
						status === statusObj.CANCELLED ? '5%' : '20px'
				}"
			>
				{{ row.updatedTs | date: 'MM/dd/yyyy' }}
			</td>
		</tr>
	</tbody>
	<tbody *ngIf="!isRecord">
		<tr>
			<td colspan="8">No {{ statusText }} data calls are available</td>
		</tr>
	</tbody>
	<!-- <tfoot>
		<tr>
			<td colspan="8">
				<app-pagination
					[Records]="pageCount"
					[currentIndex]="currentIndex"
					(getPageByIndexEvent)="getDatacallsByIndex($event)"
					(getNextPageEvent)="getNextDatacalls()"
					(getPrevPageEvent)="getPrevDatacalls()"
				></app-pagination>
			</td>
		</tr>
	</tfoot> -->
</table>
<app-spinner *ngIf="isSpinner"></app-spinner>

<app-modal
	[title]="title"
	[message]="message"
	[type]="type"
	(modalClose)="modalClose()"
	(redirectLogin)="redirectLogin()"
></app-modal>
