.btn-primary,
button:disabled.btn-primary {
  background-color: #3d70b2;
  text-align: center;
  /* text-transform: capitalize; */
  font-size: 14px;
  color: #fff;
  border: 1px solid #3d70b2;
  padding: 8px 12px;
  margin: 10px;
  font-family: 'IBM Plex Sans Medium';
  cursor: pointer;
  min-width: 130px;
  border: 2px solid #3d70b2 !important;
}
.btn-primary:hover {
  border: 2px solid #3d70b2;
}
button:disabled.btn-primary {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-secondary,
button:disabled.btn-secondary {
  color:#3d70b2;
  background-color: #fff;
  border:2px solid #3d70b2;
  font-size: 14px;
  /* text-transform: capitalize; */
  padding:8px 12px;
  margin:10px;
  font-family: 'IBM Plex Sans Medium';
  min-width: 130px;
}
button:disabled.btn-secondary {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-secondary:focus,
.btn-primary:focus {
  outline:none !important;
  box-shadow: 0 !important;
}
/* Small Spinner blue */
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-css {
  display:inline-block;
}
.lds-rolling {
  position: relative;
  width:40px;
  height:40px;
  display:inline-block;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #3d70b2;
  border-top-color: transparent;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  /* top: 100px;
  left: 100px; */
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 20px !important;
  height: 20px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
