@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/font/IBMPlexSans.eot');
  /* IE9 Compat Modes */
  src: url('../assets/font/IBMPlexSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/font/IBMPlexSans.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/font/IBMPlexSans.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/font/IBMPlexSans.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/font/IBMPlexSans.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans Medium';
  src: url('../assets/font/IBMPlexSans-Medium.eot');
  /* IE9 Compat Modes */
  src: url('../assets/font/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/font/IBMPlexSans-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/font/IBMPlexSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/font/IBMPlexSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/font/IBMPlexSans-Medium.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans Bold';
  src: url('../assets/font/IBMPlexSans-Bold.eot');
  /* IE9 Compat Modes */
  src: url('../assets/font/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/font/IBMPlexSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/font/IBMPlexSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/font/IBMPlexSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/font/IBMPlexSans-Bold.svg#svgFontName') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'IBM Plex Sans SemiBold';
  src: url('../assets/font/IBMPlexSans-SemiBold.eot');
  /* IE9 Compat Modes */
  src: url('../assets/font/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/font/IBMPlexSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/font/IBMPlexSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/font/IBMPlexSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/font/IBMPlexSans-SemiBold.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
