.main-div {
  background-image: url('../../../assets/images/LandingBG.png');
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  width: 500px;
  height: 570px;
  display:block;
  margin-top:12%;
  margin-left:16%;
}

.card-header {
  background: #ffffff;
  height: 128px;
}

.text-heading {
  font-family: 'IBM Plex Sans Medium';
  font-size: 24px;
  color: #152935;
  line-height: 45px;
  text-align: left;
}

.card-content {
  padding: 50px;
}

.input-label-user {
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
  color: #152935;
}

.input-label-pass {
  color: #4979b8;
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
}

.img-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}

input[type="text"],
select.form-control {
  border-radius: 0;
  border-bottom: 1.5px solid black;
}

input[type="password"],
select.form-control {
  border-radius: 0;
  border-bottom: 1.5px solid #4979b8;
}

.span-style {
  color: #4979b8;
  font-family: 'IBM Plex Sans Medium';
  font-size: 17px;
  text-decoration: underline;
}

.btn-login {
  background-color: #4979b8;
  border-radius: 0;
  padding: 10px;
  width: 150px;
  font-family: 'IBM Plex Sans Medium';
  text-transform:uppercase
}

.btn-center {
  width: 100%;
  margin-top: 10%
}

.btn-center>button {
  margin: 0 auto;
  display: block;
}
