<!-- <button type="button" class="btn btn-primary" (click)="openModal()">Create template modal</button> -->
<ng-template #template>
    <div class="modal-body" [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div *ngIf='isData' class="data-container">
       <!-- <div class="name">
                {{data.name}}
            </div> -->
            <div class="big-text">
                {{data.action}} by {{data.type}}
                <span *ngIf='data.action === "Consented"'>( {{data.carrierList.length}} )</span>
                <span *ngIf='data.action === "Liked"'>( {{data.orgList.length}} )</span>
            </div>
            <ol class="list" *ngIf='data.action === "Consented"'>
                <li *ngFor='let carr of data.carrierList; let i = index'>
                    {{i+1}} . &nbsp; {{carr.carrierName}}
                </li>
            </ol>
            <ol class="list" *ngIf='data.action === "Liked"'>
                <li *ngFor='let carr of data.orgList; let i = index'>
                    {{i+1}} . &nbsp; {{carr.organizationName}}
                </li>
            </ol>
        </div>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
    </div>
    <div *ngIf='isSessionExpired' class='modal-footer btn-container'>
        <button class='btn-primary pull-right' (click)='redirectToLogin()' style='width: 120px;'>Log In</button>
        <!-- <button class='btn-secondary pull-right' (click)="close()" style='text-transform:capitalize'>Cancel</button> -->
    </div>
</ng-template>

<ng-template #forumtemplate>
    <div class="modal-body" [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <br>
        <input [(ngModel)]="data" id="name" type="text" class="input-style forumInput" placeholder="Paste forum URL here">
    </div>
    <div class="modal-footer">
        <button class='btn-primary pull-right' type="submit" (click)='updateForum()'>Update Forum URL</button>
        <button class='btn-secondary pull-right' type="submit" (click)='close()'>Cancel</button>
    </div>
</ng-template>

<ng-template #datetemplate>
    <div class="modal-body" [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
        <h1>{{title}}</h1>
        <div class="date-container">
            <label for="deadline" class="text-heading">Delivery Date</label>
            <input name="deadline" class="input-style" [(ngModel)]="data" placeholder="mm/dd/yyyy" [owlDateTimeTrigger]="ddt" [owlDateTime]="ddt">
            <!--[min]="minDeadline"-->
            <owl-date-time [pickerType]="'calendar'" #ddt></owl-date-time>
        </div>
    </div>
    <div class="modal-footer">
        <button class='btn-primary pull-right' type="submit" (click)='updateDelivery()'>Update Delivery Date</button>
        <button class='btn-secondary pull-right' type="submit" (click)='close()'>Cancel</button>
    </div>
</ng-template>

<ng-template #deleteDataTemplate>
    <div class="modal-body" style='min-height: 120px;' [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
        <!-- <h1>{{title}}</h1> -->
        <p style='font-size:20px;'>{{message}}</p>
        <br>
    </div>
    <div class="modal-footer">
        <button class='btn-primary pull-right' type="submit" (click)='confirmDelete()' style='min-width: 110px;'>Yes</button>
        <button class='btn-secondary pull-right' type="submit" (click)='close()' style='min-width: 110px;'>No</button>
    </div>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="modal-body" style='min-height: 120px;' [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <h1>{{title}}</h1> -->
        <p style='font-size:20px;'>{{message}}</p>
        <br>
    </div>
    <div class="modal-footer">
        <button class='btn-primary pull-right' type="submit" (click)='confirm()' style='min-width: 110px;'>Yes</button>
        <button class='btn-secondary pull-right' type="submit" (click)='close()' style='min-width: 110px;'>No</button>
    </div>
</ng-template>

<ng-template #patternTemplate>
    <div class="modal-body" style='min-height: 120px;' [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="patterns">Extraction Pattern</p><br>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" (change)="selectAll();" [checked]="selectedAll">
                    <!--<div class="art-layer" id="9F6EA1F2-0756-49A0-9D96-CEB4FBC3A555" style="position:absolute;top:301px;z-index:240;left:142px;width: 17px;height: 16px;" name="Path 5 Copy 7">

                    </div>-->
                </th>
                <th>
                    Pattern
                </th>
                <th colSpan=3>
                    Description
                </th>
            </tr>
            <tr *ngFor='let data of pattern; let i = index'>
                <td>
                    <input type="checkbox" (change)="checkIfAllSelected(i)" [checked]='data.selected'>
                    <!--<div class="art-layer" id="9F6EA1F2-0756-49A0-9D96-CEB4FBC3A555" style="position:absolute;top:301px;z-index:240;left:142px;width: 17px;height: 16px;" name="Path 5 Copy 7"></div>
                    -->
                </td>
                <td>
                    {{data.extractionPatternName}}
                </td>
                <td colspan=3>
                    {{data.description}}
                </td>
            </tr>
        </table>

        <app-download-to-csv [extractionPattern]='pattern' [disable]="isDownloadBtnDisabled" [buttonTitle]="'Download Extraction Patterns'" [fileName]="'extraction-patterns'"></app-download-to-csv>
        <label class="patternInfo" style="padding-left: 1px;">{{patternMessage}}</label>
    </div>
</ng-template>

<ng-template #showPatternDetailsTemplate>
    <div class="modal-body" style='min-height: 120px;' [ngClass]='{"success": type === "success", "error": type === "error", "warning": type === "warning", "info":type=="info"}'>
        <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
        <h2 class="patterns">{{patternDetails[0].extractionPatternName}}</h2><br>
        <p>{{patternDetails[0].description}}</p><br>
        <app-download-to-csv [extractionPattern]='patternDetails' [disable]="false" [buttonTitle]="'Download Extraction Pattern'" [fileName]="patternDetails[0].extractionPatternName+'-'+patternDetails[0].extractionPatternID"></app-download-to-csv>
        <label class="patternInfo">{{patternMessage}}</label>
    </div>
</ng-template>
