    .name {
        font-family: 'IBM Plex Sans SemiBold';
        font-size: 14px;
        color: #152935;
        letter-spacing: 0;
        line-height: 18px;
        text-align: left;
    }
    
    .big-text {
        font-family: 'IBM Plex Sans';
        font-size: 24px;
        color: #5a6872;
        line-height: 35px;
        text-align: left;
    }
    
    ol.list {
        font-family: 'IBM Plex Sans';
        font-size: 16px;
        color: #152935;
        letter-spacing: 0;
        text-align: left;
        line-height: 20px;
        list-style-type: decimal !important;
        display: block;
    }
    
    ol.list>li {
        display: block;
        padding: 5px;
    }
    
    .input-style {
        font-family: 'IBM Plex Sans Medium';
        font-size: 1.1rem;
        display: block;
        width: 95%;
        height: 3.9rem;
        /* min-width: 18.75rem; */
        padding: 0 1rem;
        color: #152935;
        background-color: #f4f7fb;
        border: none;
        order: 2;
    }
    
    .modal-footer {
        background-color: #f4f7fb;
    }
    
    .btn-container {
        display: block;
        padding: 20px;
        background-color: #f4f7fb;
    }
    
    .cdk-overlay-pane {
        z-index: 200000 ! important
    }
    
    h1 {
        font-size: 30px ! important;
        font-family: 'IBM Plex Sans' ! important;
        color: #5a6872 ! important;
    }
    
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        border: 1px solid #ddd !important;
    }
    
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 10px;
    }
    
    .patterns {
        font-size: 20px;
    }
    
    input[type=checkbox] {
        border: 2px solid #979797 !important;
        width: 17px !important;
        height: 16px !important;
    }
    
    .patternInfo {
        font-size: 8px;
        font-weight: normal;
        float: right;
        color: gray;
        width: 44%;
        padding-left: 7px;
        padding-right: 6px;
    }