/* .search-container {
	width: 100%;
	position: relative;
	float: left;
}*/
.form-control {
	/* width: 85%; */
	border: 1px solid #f2f2f2;
	box-shadow: 0 0px 3px rgba(220, 220, 220, 0.5);
	/* padding: 10px 30px;
	margin: 2% 0 4%; */
}
.search-icon {
	width: 16px;
	height: 16px;
	color: #ccc;
	position: absolute;
	left: 10px;
	top: 33%;
}
.btn-clearsearch {
	color: #fff;
	background-color: #4979b8;
	font-family: 'IBM Plex Sans Medium';
	width: 10rem;
}
