.col-sm-12.report-table {
  margin-top: 1% !important;
  padding-right: 3% !important;
  font-family: 'IBM Plex Sans SemiBold'!important;
  font-size: 11px!important;
  color: #152935!important;
  letter-spacing: 0!important;
  text-align: left!important;
  line-height: 10.5px!important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td {
  border: none !important;
  border-top: 1px solid #dfe3e6 !important;
}

.table-bordered>thead>tr>th {
  background: #f5f7fa !important;
}

.table-hover>tbody>tr:hover td {
  background: #ECF5FF !important;
  border: 1px solid #5596e6 !important;
  border-left: none!important;
  border-right: none!important;
}

.table-hover>tbody>tr:hover td:first-child {
  border-left: 1px solid #5596e6 !important;
}

.table-hover>tbody>tr:hover td:last-child {
  border-right: 1px solid #5596e6 !important;
}

.report-link {
  color: #2d74da;
  text-decoration: underline;
  cursor: pointer;
}
.truncate-url {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}
.truncate-hash {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}

@media screen and (max-width: 1024px) {
  .truncate-url {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
  }
  .truncate-hash {
    width: 170px;
  }
}

@media screen and (max-width: 780px) {
  .truncate-url {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
  }
  .truncate-hash {
    width: 90px;
  }
}

.reset-btn {
  display:inline-block;
  color:#bbb;
  font-size: 14px;
  cursor: pointer;
}
.reset-container {
  z-index: 100;
  padding: 5px 15px;
  min-width: 120px;
  position: absolute;
  display: block;
  left: -106px;
  background: #fff;
  top: 25px;
  font-size: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(120,120,120,0.5);
}
.reset-container:after {
  content: '';
    background-color: transparent;
    width: 15px;
    height: 15px;
    position: absolute;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* transform: rotate(135deg); */
    top: -15px;
    right: 4px;
}
.reset-container:before {
  content: '';
  background-color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  border-bottom: 12px solid #ccc;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  /* -webkit-transform: rotate(135deg);
  transform: rotate(135deg); */
  top: -15px;
  right: 1px;
}
.copyLink>button,
.copyLink>span {
  font-size:10px;
  color:#152935;
  letter-spacing:0;
  text-align:left;
  line-height:22px;
  display:block;
}
.copyLink>button {
  border:0;
  background:none;
  box-shadow: none;
  padding:0;
}
