textarea {
  resize: none;
}
.sidenav {
    padding-top: 20px;
    background-color: #F4F7FC;
    height: 100%;
}

.form-container>div {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-heading {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 18px;
    color: #152935;
    line-height: 16.1px;
    text-align: left;
    margin-left: 13px;
}

.content-style {
    font-size: 28px;
    padding: 0px 31px;
    border-left: 1px solid #979797;
    ;
}

.input-label {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 14.2px;
    color: #152935;
    letter-spacing: 0;
    line-height: 14.4px;
    text-align: left;
    font-weight: unset;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 0.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.input-style {
    font-family: 'IBM Plex Sans Medium';
    font-size: 1.1rem;
    display: block;
    width: 100%;
    height: 3.9rem;
    /* min-width: 18.75rem; */
    padding: 0 1rem;
    color: #152935;
    background-color: #f4f7fb;
    border: none;
    order: 2;
}

.input-style.input-style-textarea {
    height: 100% !important;
    padding: 10px;
}

.input-label.input-label-bold {
    font-family: 'IBM Plex Sans Bold';
    color: #5a6872;
}

.form-container .form-item {
    padding: 20px 0;
}

.bx--toggle {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: visible;
    white-space: nowrap;
    width: 1px;
}

.bx--toggle__label {
    align-items: center;
    color: #152935;
    cursor: pointer;
    display: flex;
    font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
    margin: 1rem 0;
    position: relative;
    transition: .25s cubic-bezier(.5, 0, .1, 1);
}

.bx--toggle__text--left {
    font-family: 'IBM Plex Sans Medium';
    margin-right: .5rem;
}

.bx--toggle__text--left,
.bx--toggle__text--right {
    color: #152935;
    font-size: .9rem;
    position: relative;
}

.bx--toggle__appearance {
    position: relative;
    width: 4rem;
}

.bx--toggle:checked+.bx--toggle__label .bx--toggle__appearance:before {
    background-color: #3d70b2;
}

.bx--toggle__appearance:after,
.bx--toggle__appearance:before {
    content: "";
    cursor: pointer;
    display: block;
    position: absolute;
    transition: .25s cubic-bezier(.5, 0, .1, 1);
}

.bx--toggle__appearance:before {
    background-color: #8897a2;
    height: .25rem;
    top: -2px;
    width: 100%;
}

.bx--toggle:checked+.bx--toggle__label .bx--toggle__appearance:after {
    -webkit-transform: translateX(24px);
    background-color: #3d70b2;
    border-color: #3d70b2;
    box-shadow: none;
    transform: translateX(24px);
}

.bx--toggle__appearance:after {
    background-color: #fff;
    border: 2px solid #8897a2;
    border-radius: 50%;
    box-sizing: border-box;
    height: 1.9rem;
    top: -12px;
    width: 1.9rem;
}

.bx--toggle__text--right {
    font-family: 'IBM Plex Sans Medium';
    margin-left: .5rem;
}

.toggle-area {
    display: inline-block;
}

.calendar-icon {
    width: 15%;
    margin: 17% 5% 0;
}

.abs-calendar-icon {
    display: inline-block;
    position: absolute;
    width: 15%;
    top: 40%;
    right: 5%;
}


/* The sidebar menu */

.sidenav {
    height: 100%;
    min-width: 160px;
    position: relative;
    z-index: 1;
    background-color: white;
    padding-top: 0%;
}

.sidenav span {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    font-family: 'IBM Plex Sans Bold';
    min-height: 70px;
    border-bottom: 1px solid #9b9b9b;
    padding-top: 15px;
    padding-left: 17px;
    cursor: pointer;
    position: relative;
}


/* .sidenav span:active {
  color: #f1f1f1;
  background: #005698;
} */

.side-checked div:first-child {
    background: #005698;
}

.side-checked div:first-child span {
    color: #f1f1f1;
}

.mandatory-star {
    color: red;
}

.draft-span {
    position: relative;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 34px solid transparent;
    border-left: 27px solid #005698;
    border-bottom: 38px solid transparent;
    top: -1px;
    right: -13.5%;
    position: absolute;
}

.mandatory-text {
    font-family: 'IBM Plex Sans Medium';
    color: #4a4a4a;
    font-size: 13.5px;
    padding-left: 5px;
}

.col-sm-10.main-container {
    padding-left: 0px !important;
}

.date-style {
    font-size: 9px;
    display: block;
    margin: 5px 0;
    text-align: left;
    float: left;
    letter-spacing: 0.5px;
}

.form-container>div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-sm-10.main-container {
    background-color: #f4f7fb;
    padding-left: 0px !important;
}

.col-sm-12.first-container {
    background: #ffffff;
    width: 100%;
    /* min-height: 309px; */
    /* padding: 28px; */
}

.col-sm-12.second-container {
    /* background: #f4f7fb; */
    background-color: #fff;
    width: 100%;
    /* min-height: 590px; */
    top: 2%;
    padding: 0;
    padding-left: 0;
}

.col-sm-12.third-container {
    background: #ffffff;
    width: 100%;
    min-height: 135px;
}

.page-header {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 18px;
    color: #152935;
    line-height: 16.1px;
    text-align: left;
    border-bottom: none;
    padding-left: 1%;
}

.text-heading {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 11.2px;
    color: #152935;
    letter-spacing: 0;
    line-height: 14.4px;
    text-align: left;
}

.text-heading-second {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 14px;
    color: #152935;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
}

.text-heading-third {
    font-family: 'IBM Plex Sans SemiBold';
    font-size: 16px;
    color: #152935;
    line-height: 20px;
    text-align: left;
}

.box-style {
    background: #ffffff;
    /* border: 1px solid #dfe3e6; */
    width: 312px;
    height: 22px;
    margin-top: 2%;
}

.text-content {
    font-family: 'IBM Plex Sans Bold';
    font-size: 14px;
    color: #5a6872;
    line-height: 14.4px;
    text-align: left;
    display: block;
}

.text-content.second {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    color: #152935;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
}

.row-top-padding {
    padding-top: 2%;
}

.bx--toggle {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: visible;
    white-space: nowrap;
    width: 1px;
}

.bx--toggle__label {
    align-items: center;
    color: #152935;
    cursor: pointer;
    display: flex;
    font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
    margin: 1rem 0;
    position: relative;
    transition: .25s cubic-bezier(.5, 0, .1, 1);
}

.bx--toggle__text--left {
    font-family: 'IBM Plex Sans Medium';
    margin-right: .5rem;
}

.abs-calendar-icon {
    display: inline-block;
    position: absolute;
    width: 15%;
    top: 46% !important;
    right: 5%;
}

.bx--toggle__text--left,
.bx--toggle__text--right {
    color: #152935;
    font-size: .9rem;
    position: relative;
}

.bx--toggle__appearance {
    position: relative;
    width: 4rem;
}

.bx--toggle:checked+.bx--toggle__label .bx--toggle__appearance:before {
    background-color: #3d70b2;
}

.bx--toggle__appearance:after,
.bx--toggle__appearance:before {
    content: "";
    cursor: pointer;
    display: block;
    position: absolute;
    transition: .25s cubic-bezier(.5, 0, .1, 1);
}

.bx--toggle__appearance:before {
    background-color: #8897a2;
    height: .25rem;
    top: -2px;
    width: 100%;
}

.bx--toggle:checked+.bx--toggle__label .bx--toggle__appearance:after {
    -webkit-transform: translateX(24px);
    background-color: #3d70b2;
    border-color: #3d70b2;
    box-shadow: none;
    transform: translateX(24px);
}

.bx--toggle__appearance:after {
    background-color: #fff;
    border: 2px solid #8897a2;
    border-radius: 50%;
    box-sizing: border-box;
    height: 1.9rem;
    top: -10px;
    width: 1.9rem;
}

.bx--toggle__text--right {
    font-family: 'IBM Plex Sans Medium';
    margin-left: .5rem;
}

.inline-div {
    display: inline-block;
}

.box-text {
    /* padding-left: 7%; */
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    color: #152935;
    text-align: left;
    vertical-align: top;
}

.second-container-col1 {
    padding-right: 3%;
    padding-left: 1.3%;
    width: 69.5% !important;
}

.second-container-col2 {
    /* padding: 2.5% 3.5%;
  background: #fff; */
    width: 30%;
}

.sub-col {
    padding: 3% 2.5%;
    background: #fff;
    margin-bottom: 0;
}

.accord-heading {
    font-family: 'IBM Plex Sans SemiBold' !important;
    font-size: 18px !important;
    color: #152935 !important;
    line-height: 23px !important;
    text-align: left !important;
    background-color: white !important;
}

.pull-right.arrow-icon {
    width: 1.5% !important;
    padding-top: 0.6% !important;
}

.text-content-second {
    display: inline-block;
    /* min-height:100px; */
    margin-bottom: 20px;
    font-size: 14px;
    width:90%;
}


/* Delivery date section styles */

.date-row {
    border-bottom: 1px solid #979797;
    padding-bottom: 0.7%;
}

.date-container {
    padding-left: 1%;
    float: left;
    width: 20%;
}

.text-heading {
    font-family: 'IBM Plex Sans';
    font-size: 11.2px;
    color: #152935;
    letter-spacing: 0;
    line-height: 14.4px;
    text-align: left;
}

.input-style {
    display: block;
    height: 3.9rem;
    padding: 0 1rem;
    background-color: #f4f7fb;
    border: none;
    order: 2;
    font-family: 'IBM Plex Sans';
    font-size: 11.2px;
    color: #5a6872;
    line-height: 14.4px;
    text-align: left;
    width: 100%;
}

.datebtn {
    float: left;
    padding-left: 1%;
    padding-top: 1%;
}

.glypEdit {
    font-size: 18px ! important;
    cursor: pointer;
}

.forum {
    text-align: center;
}

.forumInput {
    display: inline-block;
    width: 85%;
}

.updateBtn {
    margin: 6px ! important;
}


/* :host>>>.panel.customClass {
  background-color: white;
}

:host>>>.panel-default>.panel-heading.customClass {
  background-color: white;
} */


/* Small Spinner Styling */

@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-css {
    display: inline-block;
}

.lds-rolling {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}

.lds-rolling.unlike div,
.lds-rolling.unlike div:after {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #3d70b2;
    border-top-color: transparent;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}

.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    /* top: 100px;
  left: 100px; */
}

.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lds-rolling {
    width: 20px !important;
    height: 20px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.like-count-container {
    display: block;
    margin: 10px 0 30px;
    position: relative;
}

.likes-draft {
    display: block;
    background: url('../../../assets/images/Like_Image.png') 0 0 transparent;
    width: 129px;
    height: 22px;
    padding: 1px 4% 3px 0;
    font-size: 14px;
    position: absolute;
    text-align: right;
    right: -47px;
    top: 15px;
    font-weight: bold;
}
.recorded-section {
font-size:12px;
color:#152935;
letter-spacing:0;
text-align:left;
}
