<div class="form-container" *ngIf='!isSpinner'>
    <div class="col-sm-offset-1 col-sm-10 text-left main-container">

        <div class="col-sm-12 no-row-padding">
            <div class="col-sm-2 sidenav no-row-padding">
                <div *ngFor='let draft of draftlist;let i = index' [ngClass]="{'side-checked': checked == i}">
                    <div class="draft-span" style='position:relative;'>
                        <span (click)="showDetails(draft, i)">
                      <strong *ngIf='draft.status === "ISSUED"'>
                        Issued Data Call
                      </strong>
                      <strong *ngIf='!(draft.status === "ISSUED") && i == 0'>
                        Current Version
                      </strong>
                      <strong *ngIf='!(draft.status === "ISSUED") && i !=0'>
                          Draft Version {{draft.version}}
                        </strong>
                      <strong class='date-style'>{{draft.updatedTs}}</strong>
                      <div [ngClass]="{'triangle-right': checked == i}"></div>
                    </span>

                    </div>

                </div>

            </div>


            <div *ngIf='!isReadonly' class="col-sm-10 content-style">
                <form name='datacallForm' [formGroup]="registerForm">
                    <!-- <span class="page-heading">DRAFT : {{model.version}}</span><br><br> -->
                    <div class="col-sm-12 like-count-container">
                        <span class="likes-draft pull-right">Likes &nbsp;&nbsp; {{likeCount}}</span>
                    </div>
                    <div class="col-sm-5 no-row-padding">
                        <div class="form-item col-sm-12">
                            <label for="name" class="input-label">Name</label>
                            <input formControlName="name" [(ngModel)]="model.name" [ngClass]="{'requiredfield':namefield.invalid && isError}" id="name" type="text" class="input-style" placeholder="Enter Name" [readonly]="isReadonly" (keypress)='fieldChange()'>

                        </div><br><br>
                        <div class="form-item col-sm-12">
                            <label for="description" class="input-label">Description</label>
                            <input formControlName="description" [(ngModel)]="model.description" (keypress)='fieldChange()' [ngClass]="{'requiredfield':descriptionfield.invalid && isError}" id="description" type="text" class="input-style" placeholder="Enter Description" [readonly]="isReadonly">
                        </div><br><br>
                        <div class='col-sm-12 no-row-padding'>
                            <span class="input-label">Premium Dates</span><br>
                            <div class="col-sm-5 no-row-padding">
                                <div class="form-item">
                                    <label for="startdaterange" class="input-label">Start Date</label>
                                    <input class="input-style" placeholder="mm/dd/yyyy" name="fromdate" formControlName="dateRange" [(ngModel)]="dateRange" [ngClass]="{'requiredfield':fromdatefield.invalid && !(this.registerForm.value.dateRange && this.registerForm.value.dateRange[0] !== undefined) && isError}"
                                        [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2" (dateTimeInput)='fieldChange()' [disabled]='isReadonly' [readonly]='isReadonly'>
                                    <!--(dateTimeInput)="deadlineSet('fromdate')"  [max]="maxStartdate"-->
                                    <owl-date-time #dtRange2 [pickerType]="'calendar'" [disabled]='isReadonly'></owl-date-time>
                                    <img class='abs-calendar-icon' [owlDateTimeTrigger]="dtRange2" src="../../../assets/images/calendarLogo.png" />
                                </div>
                            </div>
                            <div class="col-sm-5 no-row-padding" style='margin-left:15px;'>
                                <div class="form-item">
                                    <label for="enddaterange" class="input-label">End Date</label>
                                    <input class="input-style" placeholder="mm/dd/yyyy" name="toDate" formControlName="dateRange" [(ngModel)]="dateRange" [ngClass]="{'requiredfield':todatefield.invalid && !(this.registerForm.value.dateRange && this.registerForm.value.dateRange[1] !== undefined) && isError}"
                                        [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3" (dateTimeInput)='fieldChange()' [disabled]='isReadonly' [readonly]='isReadonly'>
                                    <!--(dateTimeInput)="deadlineSet('toDate')  [max]="maxEnddate""-->
                                    <owl-date-time #dtRange3 [pickerType]="'calendar'" [disabled]='isReadonly'></owl-date-time>
                                    <img class='abs-calendar-icon' [owlDateTimeTrigger]="dtRange3" src="../../../assets/images/calendarLogo.png" />
                                </div>
                            </div>
                            <!-- <div class="col-sm-12">
                          <h4>Value From Picker: {{dateTimeRange}}</h4>
                      </div> -->
                        </div><br><br>
                        <div class="form-item col-xs-12">
                            <label for="intent" class="input-label">Expected Public Circulation?</label>

                            <select *ngIf='!isReadonly' formControlName="intentToPublish" class="input-style" (change)='fieldChange()' [(ngModel)]="model.intentToPublish" [ngClass]="{'requiredfield':intentfield.invalid && isError}" [disabled]="isReadonly === true">
                      <!-- <option>Publicly Available</option>
                      <option>Only Visible to Regulator and AAIS</option> -->
                        <option value='Yes'>Yes</option>
                        <option value='No'>No</option>
                    </select>
                            <input *ngIf='isReadonly' type='text' class="input-style" (keypress)='fieldChange()' [(ngModel)]="model.intentToPublish" formControlName='intentToPublish' readonly/>

                        </div><br><br>

                    </div>
                    <div class="col-sm-5 pull-right  no-row-padding">
                        <div class="form-item col-xs-12">
                            <label for="jurisdiction" class="input-label">Jurisdiction</label>
                            <input type='text' class="input-style" (keypress)='fieldChange()' [(ngModel)]="model.jurisdiction" formControlName='jurisdiction' [ngClass]="{'requiredfield':jurisdictionfield.invalid && isError}" readonly style='background:none; padding-left:0!important;'
                            />
                        </div><br><br>
                        <div class="form-item col-xs-12">
                            <label for="linebusiness" class="input-label">Line of Business</label>

                            <select *ngIf='!isReadonly' formControlName="lineOfBusiness" (change)='fieldChange()' [(ngModel)]="model.lineOfBusiness" [ngClass]="{'requiredfield':businessfield.invalid && isError}" (selected)='model.lineOfBusiness' class="input-style" [disabled]="isReadonly === true">
                            <option *ngFor="let lob of LOBs"
                            [value]="lob.value">
                          {{lob.value}}
                        </option>
                      </select>
                            <input *ngIf='isReadonly' type='text' class="input-style" [(ngModel)]="model.lineOfBusiness" formControlName='lineOfBusiness' readonly/>

                        </div><br><br>
                        <div class='col-sm-12 no-row-padding'>
                            <span class="input-label">Loss Dates</span><br>
                            <div class="col-sm-5 no-row-padding">
                                <div class="form-item">
                                    <label class="input-label">Start Date</label>
                                    <input class="input-style" placeholder="mm/dd/yyyy" name="lossfromdate" formControlName="lossdateRange" [(ngModel)]="lossdateRange" [ngClass]="{'requiredfield':lossfromdatefield.invalid && !(this.registerForm.value.lossdateRange && this.registerForm.value.lossdateRange[0] !== undefined) && isError}"
                                        [selectMode]="'rangeFrom'" [owlDateTimeTrigger]="dtRange4" [owlDateTime]="dtRange4" (dateTimeInput)='fieldChange()' [disabled]='isReadonly' [readonly]='isReadonly'>
                                    <!--(dateTimeInput)="deadlineSet('fromdate')"  [max]="maxStartdate"-->
                                    <owl-date-time #dtRange4 [pickerType]="'calendar'" [disabled]='isReadonly'></owl-date-time>
                                    <img class='abs-calendar-icon' [owlDateTimeTrigger]="dtRange4" src="../../../assets/images/calendarLogo.png" style='width: 15%;top: 50%;' />
                                </div>
                            </div>
                            <div class="col-sm-5 no-row-padding" style='margin-left:15px;'>
                                <div class="form-item">
                                    <label class="input-label">End Date</label>
                                    <input class="input-style" placeholder="mm/dd/yyyy" name="losstoDate" formControlName="lossdateRange" [(ngModel)]="lossdateRange" [ngClass]="{'requiredfield':losstodatefield.invalid && !(this.registerForm.value.lossdateRange && this.registerForm.value.lossdateRange[1] !== undefined) && isError}"
                                        [selectMode]="'rangeTo'" [owlDateTimeTrigger]="dtRange5" [owlDateTime]="dtRange5" (dateTimeInput)='fieldChange()' [disabled]='isReadonly' [readonly]='isReadonly'>
                                    <!--(dateTimeInput)="deadlineSet('toDate')  [max]="maxEnddate""-->
                                    <owl-date-time #dtRange5 [pickerType]="'calendar'" [disabled]='isReadonly'></owl-date-time>
                                    <img class='abs-calendar-icon' [owlDateTimeTrigger]="dtRange5" src="../../../assets/images/calendarLogo.png" />
                                </div>
                            </div>
                            <!-- <div class="col-sm-12">
                          <h4>Value From Picker: {{dateTimeRange}}</h4>
                      </div> -->
                        </div><br><br>
                        <div class="col-xs-12 no-row-padding">
                            <div class="col-sm-6 no-row-padding">
                                <div class='form-item'>
                                    <label for="deadline" class="input-label">Deadline</label>
                                    <input name="datedeadline" class="input-style" placeholder="mm/dd/yyyy" (dateTimeInput)='fieldChange()' formControlName="deadline" [(ngModel)]="model.deadline" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [ngClass]="{'requiredfield':deadlinefield.invalid && isError}">
                                    <!-- (dateTimeInput)="deadlineSet('deadline')" [min]="minDeadline" -->
                                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    <img class='abs-calendar-icon' [owlDateTimeTrigger]="dt1" src="../../../assets/images/calendarLogo.png" style='width: 13%; top: 57% !important;' />
                                </div>
                            </div>
                            <div class="col-sm-6 no-row-padding">
                                <!-- <img class='calendar-icon' src="../../../assets/images/calendarLogo.png" /> -->
                            </div>
                        </div><br><br>
                    </div>
                    <div class="form-item col-xs-12">
                        <label for="purpose" class="input-label">Purpose</label>
                        <textarea name="purpose" placeholder="Enter Purpose" [(ngModel)]="model.purpose" (keypress)='fieldChange()' formControlName="purpose" [ngClass]="{'requiredfield':purposefield.invalid && isError}" class="input-style input-style-textarea" rows="7" [readonly]="isReadonly"></textarea>
                    </div><br><br>
                    <div class="form-item col-xs-12">
                        <label for="criteria" class="input-label">Detailed Criteria</label>
                        <textarea id="criteria" formControlName="detailedCriteria" [(ngModel)]="model.detailedCriteria" (keypress)='fieldChange()' [ngClass]="{'requiredfield':criteriafield.invalid && isError}" placeholder="Enter Detailed Criteria" class="input-style input-style-textarea"
                            rows="7" [readonly]="isReadonly"></textarea>
                    </div><br><br>
                    <div class="form-item col-xs-12">
                        <label for="eligibility" class="input-label">Eligibility Requirement</label>
                        <textarea id="eligibility" formControlName="eligibilityRequirement" [(ngModel)]="model.eligibilityRequirement" (keypress)='fieldChange()' [ngClass]="{'requiredfield':eligibilityfield.invalid && isError}" placeholder="Enter Eligibility Requirement" class="input-style input-style-textarea"
                            rows="7" [readonly]="isReadonly"></textarea>
                    </div><br>
                    <div class="form-item col-xs-12 no-row-padding toggle-area" style='padding: 0 0 15px;'>
                        <div class="col-sm-5 no-row-padding">
                            <label for="togglepart" class="input-label">Add list of participants to summary report</label>
                        </div>
                        <div class="col-sm-6 no-row-padding">
                            <input formControlName="isShowParticipants" [(ngModel)]="model.isShowParticipants" (change)='fieldChange()' [disabled]="isReadonly === true" [ngClass]="{'requiredfield':showParticipantsfield.invalid && isError}" (change)="toggleIsShowParticipants($event)"
                                [checked]='model.isShowParticipants === true' class="bx--toggle" id="toggle1" type="checkbox">
                            <label class="bx--toggle__label" for="toggle1" style='margin:15px 0 0;'>
                  <span class="bx--toggle__text--left">Off</span>
                  <span class="bx--toggle__appearance"></span>
                  <span class="bx--toggle__text--right">On</span>
                  </label>
                        </div>
                    </div><br><br>
                    <div *ngIf="!isReadonly" class="form-item col-xs-12">
                        <label for="comments" class="input-label">Add a Comment <i class="mandatory-star">*</i><i class="mandatory-text">Mandatory for saving a new data call draft</i></label>
                        <textarea name="comments" placeholder="Enter Comment" (keypress)='fieldChange()' [(ngModel)]="model.comments" formControlName="comments" [ngClass]="{'requiredfield':commentfield.invalid && isError}" class="input-style input-style-textarea" rows="4" [readonly]="isReadonly"></textarea>
                    </div><br>
                    <div class="col-sm-12">
                        <app-notify *ngIf='isError' [type]='this.type' [message]='this.message' [title]='this.title' (close)='closeNotify()'></app-notify>
                    </div><br><br>
                    <div class="col-sm-12 btn-container no-row-padding">
                        <button *ngIf="!isReadonly" class='btn-primary pull-right issue' type="button" (click)='issueDatacall(registerForm.value)'>Issue</button>
                        <button *ngIf="!isReadonly" class='btn-secondary pull-right save-draft' (click)='saveDraft(registerForm.value)'>Save New Draft</button>
                        <button *ngIf="!isReadonly" class='btn-secondary pull-right abandon' (click)='abandon(registerForm.value)'>Abandon</button>
                        <button *ngIf="!isReadonly" class='btn-secondary pull-right clone' (click)='clone(registerForm.value)'>Clone</button>
                    </div>
                </form>
            </div>

            <!-- Show following section for issued data call in case of regulator and always for state agent and carrier -->
            <div *ngIf='isReadonly' class="col-sm-10 content-style">
                <div class="col-sm-12 text-left main-container no-row-padding">

                    <div class="col-sm-12 first-container no-row-padding">
                        <div class="row">
                            <div class="col-sm-4">
                                <span class="text-heading">Name</span><br>
                                <span class="text-content">{{model.name}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Jurisdiction</span><br>
                                <span class="text-content">{{model.jurisdiction}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Description</span><br>
                                <span class="text-content">{{model.description}}</span>
                            </div>

                        </div>
                        <div class="row row-top-padding">
                            <div class="col-sm-4" *ngIf='model.deadline'>
                                <span class="text-heading">Deadline</span><br>
                                <span class="text-content">{{model.deadline}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Premium Dates</span><br>
                                <span class="text-content">{{dateRangeView[0]}} to {{dateRangeView[1]}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Loss Dates</span><br>
                                <span class="text-content">{{lossdateRangeView[0]}} to {{lossdateRangeView[1]}}</span>
                            </div>

                        </div>
                        <div class="row row-top-padding">
                            <div class="col-sm-4" *ngIf='model.proposedDeliveryDate'>
                                <span class="text-heading">Proposed Delivery Date</span><br>
                                <span class="text-content">{{model.proposedDeliveryDate}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Line of Business</span><br>
                                <span class="text-content">{{model.lineOfBusiness}}</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="text-heading">Expected Public Circulation?</span><br>
                                <span class="text-content">{{model.intentToPublish}}</span>
                            </div>

                        </div>
                        <div class="row row-top-padding">
                            <div *ngIf='isForumUrl' class="col-sm-12">
                                <div class="col-sm-12 no-row-padding">
                                    <span class="text-heading">Forum URL</span>&nbsp;&nbsp;<span *ngIf='isStatAgent && !isViewAbandoned' class="glyphicon glyphicon glyphicon-pencil glypEdit" (click)='editforum()' aria-hidden="true"></span>
                                    <span class="text-content"><a href='javascript:void(0)' (click)='openURL(forumurl)' target="_blank">{{forumurl}}</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-top-padding">
                            <div class="col-sm-12">
                                <div class="col-sm-5 no-row-padding">
                                    <span class="text-heading-second">Add list of participants to summary report</span>
                                </div> &nbsp;
                                <div class="col-sm-6 no-row-padding">
                                    <input checked="true" [(ngModel)]="model.isShowParticipants" [checked]='model.isShowParticipants' class="bx--toggle" id="toggle1" type="checkbox" [disabled]='true'>
                                    <label class="bx--toggle__label" for="toggle1">
                                  <span class="bx--toggle__text--left">Off</span>
                                  <span class="bx--toggle__appearance"></span>
                                  <span class="bx--toggle__text--right">On</span>
                                  </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf='!isForumUrl && isStatAgent && !isViewAbandoned' class="row row-top-padding">
                            <div class="col-sm-12">
                                <span class="text-heading-second">Forum URL</span><br>
                                <div class='forum col-sm-12 no-row-padding'>
                                    <div class='col-sm-10 no-row-padding'><input [(ngModel)]="model.forumurl" id="name" type="text" class="input-style" style='display:inline-block;' placeholder="Paste forum URL here"></div>
                                    <div class='col-sm-2 no-row-padding'><button class='btn-primary updateBtn pull-left' type="submit" (click)='updateForum(registerForm.value)'>Set Forum URL</button></div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="row" *ngIf='isReg'>
                    <div class="col-sm-12 btn-container">
                        <button class='btn-primary pull-right' type="button" (click)='viewReport()'>View Report</button>
                        <button class='btn-secondary pull-right' (click)='viewDrafts()'>View Draft Versions</button>
                        <button class='btn-secondary pull-right' (click)='cloneDatacall()'>Clone Data Call</button>
                    </div><br><br>
                </div> -->
                    </div>
                </div><br>
                <div class="col-sm-12 text-left main-container no-row-padding">
                    <div class="col-sm-12 second-container no-row-padding">

                        <div class="col-sm-6 second-container-col1 no-row-padding" style='padding-right: 30px !important;'>
                            <div class="row sub-col">
                                <span class="text-heading-second">Purpose</span><br>
                                <span class="text-content-second">{{model.purpose}}</span>
                            </div>
                            <div class="row sub-col">
                                <span class="text-heading-second">Detailed Criteria</span><br>
                                <span class="text-content-second">{{model.detailedCriteria}}</span>
                            </div>
                            <div class="row sub-col">
                                <span class="text-heading-second">Eligibility Requirement</span><br>
                                <span class="text-content-second">{{model.eligibilityRequirement}}</span>
                            </div>
                            <!-- <div class="row sub-col" *ngIf='!isReg'>
                      <button class='btn-secondary pull-left' (click)='viewDrafts()'>View Draft Versions</button>
                    </div> -->
                        </div>
                        <div class="col-sm-6 second-container-col2 no-row-padding">
                            <div *ngIf='model.isLocked' class="row sub-col">
                                <span class="text-heading-third">Carrier Consents</span><br>
                                <div class="box-style">
                                    <span class="box-text">Number of Carriers &nbsp;&nbsp; {{consentCount}}</span>
                                    <a *ngIf='isStatAgent' href='javascript:void(0)' (click)='viewCarriers("Consented")' style='font-size:14px;display:inline-block;vertical-align:top;margin-left:20px;'>View Carriers</a>
                                </div>
                            </div>
                            <div class="row sub-col">
                                <h1 class="text-heading-third">Organization Likes</h1>
                                <div class="box-style">
                                    <span class="box-text">Likes &nbsp;&nbsp; {{likeCount}}</span>
                                    <span *ngIf='isLikeCountPositive; else elseVieworg'>
                                      <a *ngIf='isStatAgent'
                                      href='javascript:void(0)'
                                      (click)='viewCarriers("Liked")'
                                      style='font-size:14px;display:inline-block;vertical-align:top;margin-left:20px;'>View Organizations</a>
                                    </span>
                                    <ng-template #elseVieworg>
                                      <span style='font-size:14px;display:inline-block;vertical-align:top;margin-left:20px;'>
                                        View Organizations
                                      </span>
                                    </ng-template>
                                </div>
                            </div>
                            <div *ngIf='(isStatAgent || isCarr) && (datacall.status !== "ISSUED" &&  !datacall.isLocked) && !isViewAbandoned' class="row sub-col">
                                <!-- isStatAgent ||  -->
                                <button [ngClass]="{'btn-primary': isLike, 'btn-secondary': !isLike}" (click)='toggleAction()' style='width:100%; margin-left:0; margin-right:0;' [disabled]='isSmallSpinner'>
                        {{buttonText}}
                        <div *ngIf='isSmallSpinner' class="lds-css" style='position:absolute;'><div style="width:15px !important;height:15px !important" class="lds-rolling" [ngClass]='{"unlike": !isLike}'><div style='top:10px;left:20px;'></div></div></div>
                      </button>
                            </div>
                            <div *ngIf='isRecorded' class='recorded-section row sub-col'>
                                <span style='float:left'>{{action}} recorded:</span>
                                <span style='float:right'>{{recordTime}}</span>
                            </div>
                            <!-- <div class="row sub-col">
                        <h1 class="text-heading-third">History</h1><br>
                        <app-datacall-history></app-datacall-history>
                    </div> -->
                        </div>
                    </div>
                </div><br>
                <div class="col-sm-12 btn-container no-row-padding">
                    <button *ngIf="isViewAbandoned && !isStatAgent && !isCarr && (userJurisdiction.toLowerCase() == datacall.jurisdiction.toLowerCase())" class='btn-primary pull-right' type="button" style='cursor:not-allowed; opacity: 0.5;'>Issue</button>
                    <button *ngIf="isViewAbandoned && !isStatAgent && !isCarr && (userJurisdiction.toLowerCase() == datacall.jurisdiction.toLowerCase())" class='btn-secondary pull-right' style='cursor:not-allowed; opacity: 0.5;'>Save New Draft</button>
                    <button *ngIf="isViewAbandoned && !isStatAgent && !isCarr && (userJurisdiction.toLowerCase() == datacall.jurisdiction.toLowerCase())" class='btn-secondary pull-right' style='cursor:not-allowed; opacity: 0.5;'>Abandon</button>
                    <button *ngIf="isViewAbandoned && !isStatAgent && !isCarr && (userJurisdiction.toLowerCase() == datacall.jurisdiction.toLowerCase())" class='btn-secondary pull-right' (click)='clone(model)'>Clone</button>
                </div>
                <div class="col-sm-12 btn-container no-row-padding" *ngIf="isReadonly && isReg && (userJurisdiction.toLowerCase() != datacall.jurisdiction.toLowerCase())">
                    <button class='btn-primary pull-right' (click)='clone(model)'>Clone</button>
                </div>
            </div>
        </div>

    </div>
</div>
<app-spinner *ngIf='isSpinner'></app-spinner>
<app-modal [title]='title' [message]='message' [type]='type' (modalClose)='modalClose()' (forumData)='updateForumByModal($event)' (redirectLogin)='redirectLogin()'></app-modal>